@import "tailwindcss";

@theme {
  --color-accent: var(--color-blue-500);
}

/* Configuración para que Tailwind respete la clase .dark en el html */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}